# created by virtualenv automatically
.venv/
.idea/
*/__pycache__/

# Image folders
artpedia/
wikiart/

# Data folders
original_data/
custom_data/
caption_data/
processed_data/

# Experiment data
experiment_results/

# File for small, one-time use scripts
test.py