# created by virtualenv automatically
.venv/
.idea/
__pycache__/
*/__pycache__/

# Image folders
wikiart/

# All data
data/

# Fine-tuned/Trained Models
models/

# Training logs
model_training/logs/
model_training/test_trainer/

# File for small, one-time use scripts
test.py